/* You can add global styles to this file, and also import other style files */
.vodka-bg-auth {
  background-color: #c1272d !important;
}

.btn-vodka-primary {
  background-color: #c1272d !important;
  border-color: #ed1c24 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
